

  .menu{
  background: cornsilk;
  margin: 0 auto;
  text-align: center;
  padding: 15px 10px;
  box-sizing: border-box;
}
.menu li{
  display: inline-block;
  margin: 10px 15px;
  position: relative;
  margin-left: 100px;
 }
.menu ul{
  display: none;
}
.menu li:hover ul{
  display: block;
  position: absolute;
  left: 0;
  width: 150px;
  text-align: left;
  padding: 0;
  background: cornsilk;
}
.menu li:hover ul li{
  display: block;
  margin: 10px 0;
}

.img {
  float: right;
  width: 30%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
}
div.formcad{
  background-color: #daa8a8; 
  width: 400px; 
  height: 330px; 
  left: 50%; 
  margin: -180px 0 0 -210px; 
  padding:10px;
  position: absolute; 
  top: 50%; 
}

h1{
  color: brown;
  text-align: center;
}

h2{
  text-align: center;
}

.h2id{
  color: brown;
}

.imgfront{
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(17%, 45%);  
  position: relative;
  align-items: center;
}
.imgback{
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-40%, -50%);  
  position: relative;
}
div.formcont{
  background-color: rgba(100, 111, 211, 0.533); 
  width: 480px; 
  height: 470px;
  left: 50%; 
  margin: -180px 0 0 -250px; 
  padding:10px;
  position: absolute; 
  top: 50%; 
}
body{
  background-color: #f0f5dc;
}

a:visited{
  color: rgb(179, 83, 83);
}

a:hover{
  color: rgb(175, 154, 128);
}